body{
    max-width: 375px;
    background-color: #E5E5E5;
    font-family:'Roboto';
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
}

.footer{
    width: 375px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom:0px;
    left:0px;
    padding-left: 10px;
}

img{
    width: 95px;
    height: 53px;
    box-sizing: border-box;
    padding-left: 20px;
}

.person{
    width: 57px;
    height: 50px;
    color: black;
    box-sizing: border-box;
    padding-right: 20px;
}

.send{
    width: 47px;
    height: 35px;
    color: black;
    box-sizing: border-box;
    transform: rotate(315deg);
}

.chat{
    outline:none;
    border: none;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;

}

.containerPrincipal{
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-bottom: 80px;
}

.mensagem{
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    width: 375px;
    height: 40px;
    border-radius: 2px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tempo{
    margin-right: 5px;
    color: grey;
    font-size: 14px;
    
}

.user{
    font-size: 16px;
    font-weight: 700;

}

.entraNaSala{
    margin-left: 5px;
}

.para{
    font-size: 16px;
    font-weight: 700;
}

.padrao{
    background-color: white;
    display: flex;
    align-items: center;
    width: 375px;
    height: 40px;
    border-radius: 2px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.reservado{
    background-color: pink;
    display: flex;
    align-items: center;
    width: 375px;
    height: 40px;
    border-radius: 2px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box{
    box-sizing: border-box;
}